.section--title {
    max-width: 1200px;
    margin: 0 auto var(--desktop-desc-mb, 40px);
}
.section--title .title {
    font-size: var(--desktop-title-size, 48px);
    margin-bottom: var(--title-mb, 16px);
    font-weight: 700;
}
.section--title .description {
    font-size: var(--desktop-desc-size, 18px);
}
@media screen and (max-width: 1440px) {
    .section--title {
        max-width: 960px;
        margin: 0 auto var(--desktop-sm-desc-mb, 32px);
    }
    .section--title .title {
        font-size: var(--desktop-sm-title-size, 38px);
    }
    .section--title .description {
        font-size: var(--desktop-sm-desc-size, 14px);
    }
}
@media screen and (max-width: 1023px) {
    .section--title {
        max-width: 100%;
        margin: 0 auto var(--mobile-desc-mb, 30px);
        padding: 0 0.9375rem;
    }
    .section--title .title {
        font-size: var(--mobile-title-size, 1.5rem);
    }
    .section--title .description {
        font-size: var(--mobile-desc-size, 0.875rem);
    }
}